<div class="container">
  <div class="row">
    <nav class="navbar navbar-default navbar-sticky navbar-mobile bootsnav background-basic" > 
        <div class="container">            
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand hidden-sm hidden-md hidden-lg" href="#brand"><img src="http://nayem.cottonkraft.com/inews-preview/inews_v2.0/assets/images/logo-white.pngg" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--<div class="collapse navbar-collapse" id="navbar-menu">-->
                <!--<ul class="nav navbar-nav navbar-left" data-in="" data-out="">-->
              <!---->
                    <!--<li><a href="" class="font-white">OnlineNews</a></li>-->
                    <!--<li><a href="" class="font-white">NetizenNews</a></li>-->
                <!--</ul>-->
            <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
        </div>
    </nav>
  </div>
</div>
<!-- END OF/. NAVIGATION -->

<div id="dashboard-line">
  <div class="container">
    <div class="row">
  <app-content-line-news></app-content-line-news>
    </div>
  </div>
</div>




