<div class="col-sm-4 rightSidebar col-p ">
  <div class="theiaStickySidebar ">
    <!-- START CATEGORIES WIDGET -->
    <div class="panel_inner categories-widget background-content">
        <div class="panel_header ">
            <h4 class="font-white"><strong class="font-white">Hot</strong> Categories</h4>
        </div>
        <div class="panel_body">
            <ul class="font-white category-list ">
                <li class="font-white"><a href="#" class="">Business <span>0</span></a></li>
                <li><a href="#" class="font-white">Sport <span>0</span></a></li>
                <li><a href="#" class="font-white">LifeStyle <span>0</span></a></li>
                <li><a href="#" class="font-white">Fashion <span>0</span></a></li>
                <li><a href="#" class="font-white">Technology <span>0</span></a></li>
                <li><a href="#" class="font-white">Music <span>0</span></a></li>
                <li><a href="#" class="font-white">Culture <span>0</span></a></li>
                <li><a href="#" class="font-white">Design <span>0</span></a></li>
                <li><a href="#" class="font-white">Entertainment <span>0</span></a></li>
                <li><a href="#" class="font-white">video <span>0</span></a></li>
                <li><a href="#" class="font-white">Travel <span>0</span></a></li>
                <li><a href="#" class="font-white">Food <span>0</span></a></li>
            </ul>
        </div>
    </div>
    <!-- END OF /. CATEGORIES WIDGET -->
  </div>
</div>