<footer style="padding: 2px">
    <div class="container" >
        <div class="row">
            <div class="col-sm-3 footer-box">
                <div class="twitter-inner">
                    <h3 class="wiget-title">Indoline</h3>
                    <div style="padding-top: 0">
                        <h6 style="color: white;float: left">Instagram <i class="ti-instagram"></i></h6>
                        <h6 style="color: white; float: left; padding-left: 10px">Facebook <i class="ti-facebook"></i></h6>
                        <h6 style="color: white; float: left; padding-left: 10px">Twitter <i class="ti-twitter"></i></h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 footer-box">
            </div>
        </div>
    </div>
</footer>